/* Style de base */
body {
    background-color: #ffffff;
    font-family: 'Arial Black', Impact, Arial, sans-serif;
    margin: 0;
}

/* Header et Logo */
.header-top {
    background-color: #ffffff;
    text-align: center;
    padding: 1px 0;
    margin: 0;
    overflow: hidden;
}

.logo-texte {
    color: #e60012;
    font-family: Impact, 'Arial Black', Arial, sans-serif; 
    font-size: 13.5vw; 
    white-space: nowrap;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -1px;
}

/* Menu de navigation */
.header-menu {
    background-color: #00a8e8;
    text-align: center;
    padding: 25px 0; 
}

.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu li {
    display: inline-block;
    margin: 0 15px; 
}

.header-menu a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px; 
    border-radius: 8px;
}

.header-menu a:hover {
    background-color: #ffffff; 
    color: #00a8e8; 
}

.actif {
    color: #ffffff; 
}

/* Boutons d'inscription */
.btn-inscription {
    background-color: #ffffff !important;
    color: #e60012 !important;
    padding: 12px 30px; 
    border-radius: 25px;
    border: 2px solid #ffffff;
}

.btn-inscription:hover {
    background-color: #e60012 !important;
    color: #ffffff !important;
    border-color: #e60012 !important;
}

/* Banniere accueil */
.banniere {
    background-image: url('images/fondplat.png'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 380px; 
    padding-bottom: 20px;
    overflow: hidden;
}

.banniere h1 {
    color: #00a8e8; 
    font-family: Impact, 'Arial Black', Arial, sans-serif;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    font-size: 8vw; 
}

/* Barre de recherche */
.zone-recherche {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.input-recherche {
    padding: 15px 25px;
    width: 450px;
    border: 3px solid #00a8e8;
    border-radius: 35px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    outline: none;
    color: #00a8e8;
    font-size: 16px;
}

.input-recherche::placeholder {
    color: #00a8e8;
    opacity: 0.6;
}

.btn-recherche {
    padding: 16px 35px;
    background-color: #e60012;
    color: white;
    border: none;
    border-radius: 35px;
    font-family: Impact, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 10px;
    text-transform: uppercase;
}

.btn-recherche:hover {
    background-color: #00a8e8;
}

/* Titres intermédiaires */
.bandeau-titre {
    background-color: #00a8e8; 
    text-align: center;
    padding: 50px 0; 
    margin: 0;
    overflow: hidden;
}

.bandeau-titre h2 {
    color: #ffffff; 
    font-family: Impact, 'Arial Black', Arial, sans-serif;
    font-size: 5vw; 
    text-transform: uppercase;
    letter-spacing: 5px; 
    margin: 0;
}

/* Grille des plats */
.plats-populaires {
    background-color: #00a8e8;
    text-align: center;
    padding: 0px 2%;
}

.plat {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    vertical-align: top;
    text-align: center;
}

.plat img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.plat h3 {
    color: #ffffff;
    font-family: Impact, sans-serif;
    font-size: 28px;
    margin: 5px 0;
}

.description-plat {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 10px 15px 0px 15px;
    height: 60px;
    overflow: hidden;
}

.prix {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.btn-plat {
    background-color: #ffffff; 
    color: #e60012 !important; 
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-family: Impact, sans-serif;
    display: inline-block;
}

.btn-plat:hover {
    background-color: #e60012;
    color: #ffffff !important;
}

/* Footer */
.footer {
    background-color: #ffffff;
    color: #00a8e8;
    padding: 50px 0;
    border-top: 4px solid #00a8e8;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-col {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    font-size: 14px;
}

.copyright-col {
    font-size: 12px;
}

.footer-col p {
    margin: 5px 0;
}

.footer-col strong {
    color: #e60012;
    letter-spacing: 1px;
}

/* Filtres page presentation */
.zone-filtres {
    background-color: #ffffff; 
    text-align: center;
    padding: 30px 0;
}

.menu-deroulant {
    padding: 15px 20px;
    border: 3px solid #00a8e8;
    border-radius: 35px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #00a8e8;
    font-size: 16px;
    outline: none;
    margin-left: 10px;
    cursor: pointer;
    background-color: #ffffff;
}

.zone-filtres .input-recherche {
    width: 250px; 
}

.categorie-titre {
    text-align: center;
    color: #e60012;
    font-family: Impact, 'Arial Black', Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.premier-titre {
    margin-top: 15px; 
}

/* !!! AJOUTS POUR COMMANDES, LIVRAISON, NOTATION !!!!!! */

/* Commande*/
.conteneur-tableau {
    padding: 20px;
    overflow-x: auto; /* pr scroll sur un petit écran */
    text-align: center;
}

.tableau-commandes {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse; 
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border: 3px solid #00a8e8;
}

.tableau-commandes th {
    background-color: #00a8e8;
    color: #ffffff;
    padding: 15px;
    font-family: Impact, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.tableau-commandes td {
    border: 1px solid #00a8e8;
    padding: 15px;
    color: #00a8e8;
    font-weight: bold;
}

.btn-action {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
}

.btn-pret {
    background-color: #e60012;
    color: white;
}

.statut-livraison {
    color: #e60012;
    text-transform: uppercase;
}

/* LIVRAISON (optimisé l'utilisation avec les gants etc) */
.bloc-livraison {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}

.titre-livraison {
    color: #00a8e8;
    font-family: Impact, sans-serif;
    font-size: 24px;
    border-bottom: 2px solid #e60012;
    display: inline-block;
    margin-bottom: 10px;
}

.info-livraison {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 30px;
}

.actions-livreur {
    margin-top: 20px;
}

.btn-livreur {
    display: block;
    width: 90%;
    margin: 30px auto; 
    padding: 20px;
    font-family: Impact, sans-serif;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    border: 3px solid transparent; 
    box-sizing: border-box; 
    cursor: pointer;
}

.btn-tel {
    background-color: #00a8e8;
    color: white;
}

.btn-gps {
    background-color: #ffffff;
    border: 3px solid #00a8e8;
    color: #00a8e8;
}

.btn-valider {
    background-color: #e60012;
    color: white;
}

/*  FORMULAIRES (Notation,Inscription et Connexion)*/
.conteneur-formulaire {
    width: 60%;
    margin: 30px auto;
    text-align: left;
    font-family: Arial, sans-serif;
}

.groupe-formulaire {
    border: 3px solid #00a8e8;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 25px;
    background-color: #f9f9f9;
}

.groupe-formulaire legend {
    color: #e60012;
    font-family: Impact, sans-serif;
    font-size: 20px;
    padding: 0 10px;
}

.groupe-formulaire label {
    color: #00a8e8;
    font-weight: bold;
    font-size: 16px;
}

.select-form, .textarea-form, .input-form {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #00a8e8;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Pour gérer le padding sans casser la largeur */
}

.textarea-form {
    resize: vertical;
}